@font-face {
  font-family: 'ProximaNova Bold';
  src: url('./assets/fonts/ProximaNova-Bold.otf');
}

@font-face {
  font-family: 'ProximaNova Regular';
  src: url('./assets/fonts/ProximaNova-Regular.otf');
}
